:root {
  --font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --color-eee: #eee;
  --color-white: #ffffff;
  --primary-color: #333;
  --color-black: #000;
  --color-red: rgb(181, 18, 18);
  --color-green: #0d471a;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-family);
}

/* //main page and container */
.main-con {
  background-color: var(--color-eee);
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 100px;
  max-width: 768px;
  margin: auto;
}

/* //top header and logo */
.top-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.top-header > img {
  width: 120px;
  height: auto;
}

/* // main container content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-con {
  padding: 12px;
  min-width: 90%;
  background-color: var(--color-white);
  width: 90%;
  border-radius: 12px;
  margin-top: 26px;
}
.content-list {
  display: grid;
  grid-template-columns: 50px 2fr 100px;
  gap: 10px;
  border-bottom: 1px solid var(--color-eee);
  padding: 12px;
}
.content-list-debit {
  border-left: 2px solid var(--color-red);
  margin-bottom: 12px;
}
.content-list-credit {
  border-left: 2px solid var(--color-green);
  margin-bottom: 12px;
}
.content-list > img {
  width: 1.5rem;
}
.content-main-title {
  width: 100%;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
.content-main-title > span {
  margin: 5px;
}
.content-date {
  word-wrap: break-word;
  color: var(--primary-color);
}
.expand-note-icon {
  width: 1.2rem;
}
.notes-total {
  text-align: right;
}
.notes-total > p {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 12px;
}

.empty-note {
  width: 100%;
  justify-content: center;
}
.empty-note-text {
  font-size: 16px;
  text-align: center;
  margin: 25px;
}

.plus-debit-icon,
.minus-debit-icon {
  width: 16px;
}
.total-output-con {
  text-align: right;
  font-size: 1.4rem;
  font-style: initial;
  padding: 25px;
}
.total-out {
  font-weight: bold;
  letter-spacing: 2.5px;
}
.new-note {
  animation: 1s shrinkIn linear;
}

@keyframes shrinkIn {
  0% {
    scale: 0.1;
    opacity: 0.4;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.delete-note {
  animation: 1s shrinkOut linear;
  display: none;
}

@keyframes shrinkOut {
  0% {
    opacity: 1;
    scale: 1;
    display: flex;
  }

  100% {
    opacity: 0;
    scale: 0;
    display: none;
  }
}

.update-note {
  animation: 1s fadeIn linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
