/* //hide class */
.hide {
  display: none;
}
.flex {
  display: flex;
}

/* //no scroll class  */
.no-scroll {
  overflow: hidden;
}

/* //capacitor toast  */
.hydrated.in {
  z-index: 5;
}

/* //.loader */
.loader {
  width: 50px;
  animation: 2s loaderAnimate linear infinite;
}

@keyframes loaderAnimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* //.overlay */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 6, 0.9);
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* //primary btn */
.btn-primary {
  background-color: var(--primary-color);
  padding: 10px;
  width: 150px;
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

/* //input underline */
.input-underline {
  width: 90%;
  padding: 10px;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid var(--primary-color);
}
.input-underline:focus,
.select-type:focus {
  outline: none;
  border: none;
  box-shadow: 0 0px 5px 3px var(--color-eee);
  border-radius: 14px;
}

/* //select option type */
.select-type {
  width: 100px;
  border: 1px solid var(--color-eee);
  font-size: 1rem;
  color: var(--primary-color);
  background: var(--color-white);
  font-style: italic;
  border-radius: 5px;
}
